<div class="row justify-content-center mt-1">
  <div class="col-sm-8 my-3">
    <%= form_with url: lands_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container" style="margin-top: 30px">
  <div class="cards-grid">
      <% @lands.each do |land| %>
        <%= link_to land_path(land) do %>
          <div class="mb-3">
            <div class="card-planet">
               <% if land.photos.attached? %>
                <%= cl_image_tag land.photos.first.key %>
                <p>this has a cloudinary image</p>
              <% elsif land.images.any? %>
                <%= image_tag (land.images.first) %>
                <% else %>
                  <p>No Image</p>
              <% end %>
                <div class="card-planet-infos">
                  <div>
                    <h2><%= land.address %></h2>
                    <p><%= land.area %> Square feet</p>
                    <p></p>
                  </div>
                  <h2 class="card-planet-pricing">ยง500</h2>
                  <img src="" class="card-planet-user star-bordered" />
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
