
<% if user_signed_in?%>
  <%= render 'pages/navbar_in_session'  %>
<% else %>
  <%= render 'pages/navbar' %>
<% end %>

<div class="container">
  <div class="cards-grid">
      <% @lands.each do |land| %>
        <%= link_to land_path(land) do %>
          <div class="mb-3">
            <div class="card-planet">
               <% if land.photos.attached? %>
                <%= cl_image_tag land.photos.first.key %>
              <% elsif land.images %>
                <%= image_tag (land.images.first) %>
              <% end %>
                <div class="card-planet-infos">
                  <div>
                    <h2><%= land.address %></h2>
                    <p><%= land.area %> Square feet</p>
                    <p></p>
                  </div>
                  <h2 class="card-planet-pricing">ยง500</h2>
                  <img src="" class="card-planet-user star-bordered" />
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
