<%= render "pages/navbar" %>

<div class="planet-background">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="form-container rounded p-4 shadow-sm">
          <h3 class="text-center mb-4">Create a New Planet</h3>
          <%= simple_form_for @land, html: { multipart: true } do |f| %>
            <%= f.input :area,
                        placeholder: 'Enter a dramatic setting',
                        input_html: { class: 'form-control' },
                        wrapper_html: { class: 'mb-3' } %>
            <%= f.input :local_attractions,
                        placeholder: 'E.g., Cave network, waterfalls',
                        input_html: { class: 'form-control' },
                        wrapper_html: { class: 'mb-3' } %>
            <%= f.input :address,
                        placeholder: 'e.g., 24c Interstellar Way',
                        input_html: { class: 'form-control' },
                        wrapper_html: { class: 'mb-4' } %>
            <%= f.input :images, as: :file,
                        label: 'Upload Planet Image',
                        input_html: { class: 'form-control' },
                        wrapper_html: { class: 'mb-4' } %>
            <%= f.submit 'Create Planet', class: 'btn btn-primary w-100' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
