<% if user_signed_in? %>
  <%= render 'pages/navbar_in_session' %>
<% else %>
  <%= render 'pages/navbar' %>
<% end %>

<% planet = @land.address.split(' ').last %>
<div class="container">
  <h2 class="show-header">Wonderful Retreat on <%= planet %></h2>
  <div class='row mb-4'>
    <div class='col-6'>
      <% if @land.photos.attached? %>
        <div style="background-image: url(<%= cl_image_path @land.photos.first.key %>);" class="showpage-large-img"></div>
      <% elsif @land.images %>
        <div style="background-image: url(<%= @land.images[0] %>);" class="showpage-large-img"></div>
      <% end %>
    </div>
    <div class="sml-images-container col-6">
      <% if @land.photos.attached? %>
        <% @land.photos.reverse.take(4).each do |photo| %>
          <div style="background-image: url(<%= cl_image_path photo.key %>);" class="showpage-small-img"></div>
        <% end %>
      <% else %>
        <% @land.images.reverse.take(4).each do |image| %>
          <div style="background-image: url(<%= image %>);" class="showpage-small-img"></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <h4 class="showpage-titler">Stay on <%= planet %>, Milky Way</h4>
      <h6>20 guests - 2 Bedrooms - 2 Beds - 2 Bathrooms</h6>
      <% @rating_sum = 0 %>
      <% @reviews = @land.reviews %>
      <% @reviews.each { |review| @rating_sum += review.rating } %>
      <% if @land.reviews.present? %>
        <h4 class="favourite-button">Guest Favourite - <%= @rating_sum / @reviews.length %> ⭐️</h4>
      <% else %>
        <h4 class="favourite-button">Be the first to review</h4>
      <% end %>
      <div class="show-user-info" style="border-bottom: solid;">
        <%= image_tag 'Avatar.png', :class => "avatar" %>
        <div class="show-user-info-text">
          <h6>Hosted by <%= @land.user.first_name.capitalize %></h6>
          <p>9 years of hosting</p>
        </div>
      </div>
      <div class="show-user-info">
        <%= image_tag 'location_pin.png', :class => "avatar" %>
        <div class="show-user-info-text">
          <h6>Great location</h6>
          <p>100% of recent guests gave the location a 5 star rating</p>
        </div>
      </div>
      <div class="show-user-info">
        <%= image_tag 'key_icon.png', :class => "avatar" %>
        <div class="show-user-info-text">
          <h6>Great check-in experience</h6>
          <p>100% of recent guests gave the check-in experience a 5 star rating</p>
        </div>
      </div>
      <div class="show-user-info">
        <%= image_tag 'alien_icon.png', :class => "avatar" %>
        <div class="show-user-info-text">
          <h6>Extra-terrestrial friends welcome</h6>
          <p>Bring your friends along to stay</p>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="form-container">
      <% unless user_signed_in? && current_user.species == 'martian' %>
        <h3>Check Availability</h3>
        <%= simple_form_for [@land, @booking] do |f| %>
          <%= f.input :booking_start_date %>
          <%= f.input :booking_end_date %>
            <% if user_signed_in? && current_user.species == 'human'%>
              <%= f.submit 'Create booking', class: 'btn btn-success' %>
            <% else %>
              <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Please sign in before booking">
              <%= f.submit 'Create booking', class: 'btn btn-success', disabled: true %>
              </span>
            <% end %>
          <% end %>
        <% else %>
          <h1>You are a martian! You cannot book - just conquer</h1>
        <% end %>

      </div>
    </div>
  </div>
  <div class="review-container">
    <div class="review-comments">
        <h2>Reviews</h2>
        <% @land.reviews.each do |review| %>
          <div class='review-comment'>
            <p><%= content_tag :p, '⭐️' * review.rating %></p>
            <h4><%= review.comment %></h4>
          </div>
        <% end %>
      </div>
      <div class="review-form">
      <%= simple_form_for [@land, @review] do |f|%>
        <%= f.input :rating, :collection => (0..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
        <%= f.input :comment %>

        <% unless user_signed_in? && current_user.species == 'human' %>
          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Please sign in before booking">
            <%= f.submit 'Add review', class: 'btn btn-success', disabled: true %>
          </span>
        <% else %>
          <%= f.submit 'Add review', class: 'btn btn-success' %>
        <% end %>
      <% end %>

      </div>
  </div>
</div>

<%= render 'pages/footer' %>
