<div class="banner">
    <h2>Welcome, <%= current_user.first_name %>!</h2>
    <h3>Your Saved Bookings!</h3>
  </div>

  <div class="dashboard-container">
    <% @bookings.each do |booking| %>
    <div class="card-dashboard">
      <div class="card-dashboard-infos">
        <div>
            <div class="dashboard-card">
              <div class="dashboard-details">

                <h3><%= booking.land.address %></h3>
                <p><strong>Start Date:</strong> <%= booking.booking_start_date.strftime("%B %d, %Y") %></p>
                <p><strong>End Date:</strong> <%= booking.booking_end_date.strftime("%B %d, %Y") %></p>
                 <div style="background-image: url(<%= booking.land.images.first %>);" class="showpage-large-img"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to "Add a New Planet", new_land_path, class: "btn btn-primary" %>
