<%= render '/pages/navbar_in_session' %>
<div class="container">
  <% if current_user.species == 'martian' %>
    <div class="dash-header">
      <div>
        <h2>Welcome <%= current_user.first_name %></h2>
        <h5>Species: <%= current_user.species %></h5>
      </div>
      <%= link_to new_land_path do %>
        <h4 class="btn btn-create">Create new planet</h4>
      <% end %>
    </div>

    <h4>My planets</h4>
    <div class="booking-cards-container">
      <% current_user.lands.each do |land| %>
      <%= link_to land_path(land) do %>
      <div class="booking-card">
          <div class="booking-card-img" style="background-image: url(<%= cl_image_path land.photos.first.key %>)"></div>
          <div class="booking-card-top-info">
            <div>
              <p><%= land.address %></p>
              <p><%= land.local_attractions %></p>
            </div>
          </div>
          <div class="booking-card-bot-info">
            <div>
              <p class="btn btn-card-grey">Edit</p>
            </div>
            <p>Cost per night</p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  <% elsif current_user.species == 'human' %>
    <div class="dash-header">
      <div>
        <h2>Welcome <%= current_user.first_name %></h2>
        <h5>Species: <%= current_user.species %></h5>
      </div>
      <%= link_to lands_path do %>
        <h4 class="btn btn-create">Find another booking</h4>
      <% end %>

    </div>

    <h4>Future Bookings</h4>
    <div class="booking-cards-container">
      <% current_user.bookings.each do |booking|%>
        <%= link_to  land_path(booking.land) do %>
        <div class="booking-card">
          <div class="booking-card-img" style="background-image: url(<%=booking.land.images[0]%>)"></div>
          <div class="booking-card-top-info">
            <div>
              <p><%= booking.land.address %></p>
              <p><%= booking.land.local_attractions %></p>
            </div>
            <div>
              <p><%= booking.booking_start_date %></p>
              <p><%= booking.booking_end_date %></p>
            </div>
          </div>
          <div class="booking-card-bot-info">
            <div>
              <p class="btn btn-card-grey">Cancel</p>
            </div>
            <p>Total cost ยง50</p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
