
<div class="container">
  <% if current_user.species == 'martian' %>
    <div class="dash-header">
      <div>
      <p><%= link_to "View all planets", lands_path %></p>
        <h2>Welcome <%= current_user.first_name %></h2>
        <h5>Species: <%= current_user.species %></h5>
      </div>
      <button type="button" class="btn btn-create" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add a planet
      </button>
    </div>

    <h4>My planets</h4>
    <div class="booking-cards-container">
      <% current_user.lands.each do |land| %>
      <div style="position: relative;">
        <%= link_to land_path(land) do %>
          <div class="booking-card">
              <% if land.photos.attached? %>
                <div style="background-image: url(<%= cl_image_path land.photos.first.key %>);" class="booking-card-img"></div>
              <% elsif land.images %>
                <div style="background-image: url(<%= land.images[0] %>);" class="booking-card-img"></div>
              <% end %>
              <div class="booking-card-top-info">
                <div>
                  <p><%= land.address %></p>
                  <p><strong><%= land.planet_name %></strong></p>
                  <p><%= land.local_attractions %></p>
                </div>
              </div>
              <div class="booking-card-bot-info" style="display: flex; justify-content: flex-end;">
                <p>Cost per night <strong>ยง<%= land.price.to_i %></strong></p>
              </div>
            </div>
          <% end %>
          <div style="position: absolute; bottom: 10px; left: 16px; z-index: 1;">
              <i class="fa-solid fa-pen-to-square dashboard-icon" data-bs-toggle="modal" data-bs-target="#landModel<%= land.id %>" ></i>
          </div>
          <div class="modal modal-xl fade" id="landModel<%= land.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add a planet</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class='p-3'>
                  <%= simple_form_for land, html: { multipart: true } do |f| %>
                      <%= f.input :planet_name,
                                  placeholder: 'Enter your planet name',
                                  input_html: { class: 'form-control' },
                                  wrapper_html: { class: 'mb-3' } %>
                      <%= f.input :area,
                                  placeholder: 'Enter your planets area',
                                  input_html: { class: 'form-control' },
                                  wrapper_html: { class: 'mb-3' } %>
                      <%= f.input :description,
                                  placeholder: 'Enter a description about your planet',
                                  input_html: { class: 'form-control' },
                                  wrapper_html: { class: 'mb-3' } %>
                      <%= f.input :local_attractions,
                                  placeholder: 'E.g., Cave network, waterfalls',
                                  input_html: { class: 'form-control' },
                                  wrapper_html: { class: 'mb-3' } %>
                      <%= f.input :address,
                                  placeholder: 'e.g., 24c Interstellar Way',
                                  input_html: { class: 'form-control' },
                                  wrapper_html: { class: 'mb-4' } %>
                      <%= f.input :price,
                                  placeholder: 'Enter your cost per night',
                                  input_html: { class: 'form-control' },
                                  wrapper_html: { class: 'mb-3' } %>
                      <%= f.input :photos, as: :file,
                                  label: 'Upload Planet Image',
                                  input_html: { class: 'form-control', multiple: true  },
                                  wrapper_html: { class: 'mb-4' } %>
                      <%= f.submit 'Add planet', class: 'btn btn-primary w-100' %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% elsif current_user.species == 'human' %>
    <div class="dash-header">
      <div>
        <h2>Welcome <%= current_user.first_name %></h2>
        <h5>Species: <%= current_user.species %></h5>
      </div>
      <%= link_to lands_path do %>
        <h4 class="btn-create">Find another booking</h4>
      <% end %>

    </div>

    <h4>Future Bookings</h4>
    <div class="booking-cards-container">
      <% current_user.bookings.each do |booking|%>
        <div style="position: relative;">
          <%= link_to  land_path(booking.land) do %>
          <div class="booking-card">
            <div class="booking-card-img" style="background-image: url(<%=booking.land.images[0]%>)"></div>
            <div class="booking-card-top-info">
                <div>
                  <p><%= booking.land.address %></p>
                  <p><strong><%= booking.land.planet_name %></strong></p>
                </div>
              <div class="booking-date-info">
                <p>From: <%= booking.booking_start_date %></p>
                <p>To: <%= booking.booking_end_date %></p>
              </div>
            </div>
            <div class="booking-card-bot-info">
              <div>
              </div>
              <% @elapsed_time = (booking.booking_end_date - booking.booking_start_date).floor %>
              <p>Total cost <strong>ยง<%= (@elapsed_time + 1) * booking.land.price.to_i %></strong></p>
            </div>
          </div>
          <div style="position: absolute; bottom: 10px; left: 16px;">
            <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"} do %>
              <p class="btn-cancel m-0">Cancel</p>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<!-- modal -->

<div class="modal modal-xl fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a planet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='p-3'>
        <%= simple_form_for @land, html: { multipart: true } do |f| %>
            <%= f.input :planet_name,
                        placeholder: 'Enter your planet name',
                        input_html: { class: 'form-control' },
                        wrapper_html: { class: 'mb-3' } %>
            <%= f.input :area,
                        placeholder: 'Enter your planets area',
                        input_html: { class: 'form-control' },
                        wrapper_html: { class: 'mb-3' } %>
            <%= f.input :description,
                        placeholder: 'Enter a description about your planet',
                        input_html: { class: 'form-control' },
                        wrapper_html: { class: 'mb-3' } %>
            <%= f.input :local_attractions,
                        placeholder: 'E.g., Cave network, waterfalls',
                        input_html: { class: 'form-control' },
                        wrapper_html: { class: 'mb-3' } %>
            <%= f.input :address,
                        placeholder: 'e.g., 24c Interstellar Way',
                        input_html: { class: 'form-control' },
                        wrapper_html: { class: 'mb-4' } %>
            <%= f.input :price,
                        placeholder: 'Enter your cost per night',
                        input_html: { class: 'form-control' },
                        wrapper_html: { class: 'mb-3' } %>
            <%= f.input :photos, as: :file,
                        label: 'Upload Planet Image',
                        input_html: { class: 'form-control', multiple: true  },
                        wrapper_html: { class: 'mb-4' } %>
            <%= f.submit 'Add planet', class: 'btn btn-primary w-100' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div style="margin-top:100px">
  <%= render 'pages/footer' %>
</div>
