<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1464802686167-b939a6910659?q=80&w=2900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Discover the Cosmos.</h1>
    <p>Change your life and discover the Cosmos.</p>
      <%= link_to lands_path do %>
        <p class="btn-brown-nav">View All Available Planets</p>
      <% end %>
      <i class="arrow down"></i>
  </div>
</div>
<div class="section top-section">
  <div class="container" style="margin-top: 30px">
    <h2>How it works</h2>
    <div class="top-section-card-container">
      <div class="top-section-card">
        <div class="number-icon">1</div>
            <img class="image-home" src="https://cdn-icons-png.flaticon.com/512/5721/5721113.png" alt="Mini Image">
        <p>Sign up and get started</p>
      </div>
      <div class="top-section-card">
        <div class="number-icon">2</div>
        <img class="image-home"src="https://cdn2.iconfinder.com/data/icons/alien-ufo-and-human-friendship/271/alien-ufo-human-11-512.png">
        <p>Tell us your species</p>
      </div>
      <div class="top-section-card">
        <div class="number-icon">3</div>
        <img class= "image-home"src="https://cdn-icons-png.flaticon.com/512/6989/6989353.png" >
        <p>Search through the incredible planet selection</p>
      </div>
      <div class="top-section-card">
        <div class="number-icon">4</div>
        <img class="image-home"src="https://www.svgrepo.com/show/280640/space-ship-space.svg" alt="">
        <p>Find your dream destination</p>
      </div>
    </div>
  </div>
</div>
<div class="section middle-section">
  <div class="container">
    <h2 style = "color:black">Book your stay on.......</h2>
    <div class="middle-section-card-container">
       <% @lands.each do |land| %>
        <%= link_to land_path(land) do %>
          <div class="mb-3">
            <div class="card-planet">
            <div id="carouselExample<%= land.id %>" class="carousel slide">
              <div class="carousel-inner">
                <% if land.photos.attached? %>
                    <div class="carousel-item active">
                      <%= cl_image_tag land.photos.first.key, class: "d-block w-100", style: "object-fit: cover; height: 350px; width: 300px;"  %>
                    </div>
                  <% land.photos.reverse.take(4).each do |photo| %>
                    <div class="carousel-item">
                      <%= cl_image_tag photo.key, class: "d-block w-100", style: "object-fit: cover; height: 350px; width: 300px;"  %>
                    </div>
                  <% end %>
                <% elsif land.images.any? %>
                    <div class="carousel-item active">
                      <%= image_tag land.images.first, class: "d-block w-100", style: "object-fit: cover; height: 350px; width: 300px;" %>
                    </div>
                  <% land.images.reverse.take(4).each do |image| %>
                    <div class="carousel-item">
                      <%= image_tag image, class: "d-block w-100", style: "object-fit: cover; height: 350px; width: 300px;" %>
                    </div>
                  <% end %>

                <% else %>
                    <p>No Image</p>
                <% end %>
              </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample<%= land.id %>" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample<%= land.id %>" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
                <div class="card-planet-infos">
                  <div>
                    <h2><strong><%= land.planet_name %></strong></h2>
                    <h2 style="font-weight: 400;"><%= land.address %></h2>
                    <p style="color: blue;"><%= land.area %> Square feet</p>
                  </div>
                  <h2 class="card-planet-pricing"><strong>ยง<%= land.price.to_i %></strong> per night</h2>
                  <img src="" class="card-planet-user star-bordered" />
                </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
<div class="section bottom-section">
  <div class="container">
    <h4>"I's so happy I stayed here on this planet SK8-431 - perfect holiday planet!" - Jake, Earth</h4>
    <%= link_to lands_path do %>
        <p class="btn-brown-nav" style="">Find your next planet!</p>
    <% end %>
  </div>
</div>
<%= render 'footer' %>







<!--banner-->
<div class="banner-nav">
  <div class="container banner-nav-items">
    <h1>CosmosMarket</h1>
    <div>
    <% if user_signed_in? %>
      <div class="btn-group dropstart">
        <button type="button" class="dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border: 0; background: transparent;">
          <i class="fa-solid fa-user avatar-icon" style="color:white"></i>
        </button>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/dashboard">Dashboard</a>
          <%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to log out?'}, class: 'dropdown-item' %>
        </ul>
      </div>
    <% else %>
      <%= link_to new_user_session_path do %>
          <p class="btn-brown-nav">Log in</p>
      <% end %>
      <%= link_to new_user_registration_path do %>
          <p class="btn-brown-nav">Sign up</p>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
