<!DOCTYPE html>
<html>
  <head>
    <title>CosmosMarket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" type="image/png" href="<%= image_path('image.png') %>">

  </head>

  <body>
    <%= yield %>
    <% unless notice.nil? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </body>
</html>
